@import "tailwindcss";

@theme {
  --font-sans: "Pretendard", sans-serif;
  --color-brand-orange: #EA580C;
  --color-brand-green: #064E3B;
}

@layer base {
  body {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-gray-900);
    background-color: var(--color-gray-50);
  }
}
